# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.pdb
UpgradeLog.htm
*.VC.db
*.VC.opendb
*.ipdb
*.iobj
*.dbg

# Windows build products
*.dll
*.exe
**/Release/*.lib
**/Release/*.res
**/Release_dbg/*.lib
**/Release_dx9/*.lib
**/Release_dll/*.lib
**/Release_stdio/*.lib
**/Release_hl2/*.lib
**/Release_hl2_DS/*.lib
**/Debug/*.lib
**/Debug/*.res
**/Debug_dbg/*.lib
**/Debug_dx9/*.lib
**/Debug_dll/*.lib
**/Debug_stdio/*.lib
**/Debug_hl2/*.lib
**/Debug_hl2_DS/*.lib

**/Release/x64/*.lib
**/Release/x64/*.res
**/Release_dbg/x64/*.lib
**/Release_dx9/x64/*.lib
**/Release_dll/x64/*.lib
**/Release_stdio/x64/*.lib
**/Release_hl2/x64/*.lib
**/Release_hl2_DS/x64/*.lib
**/Release_text_pango/*.lib
**/Debug/x64/*.lib
**/Debug/x64/*.res
**/Debug_dbg/x64/*.lib
**/Debug_dx9/x64/*.lib
**/Debug_dll/x64/*.lib
**/Debug_stdio/x64/*.lib
**/Debug_hl2/x64/*.lib
**/Debug_hl2_DS/x64/*.lib
**/Debug_text_pango/*.lib

valveetwproviderEvents*
**/generated_proto/
**/generated_proto_panorama_text_base/

# Explicitly ignore libs public folder. Depends on case by case if we want to commit them or not.
# Most of these are build results from the main project and don't take that much time to compile in the first place.
!lib/**/release/*.lib
!lib/**/debug/*.lib
lib/common/bzip2.lib
lib/common/mxtoolkitwin32.lib
lib/public/appframework.lib
lib/public/bitmap.lib
lib/public/bitmap_byteswap.lib
lib/public/bonesetup.lib
lib/public/choreoobjects.lib
lib/public/datamodel.lib
lib/public/dme_controls.lib
lib/public/dmserializers.lib
lib/public/dmxloader.lib
lib/public/fgdlib.lib
lib/public/fow.lib
lib/public/game_controls.lib
lib/public/interfaces.lib
lib/public/matchmakingbase.lib
lib/public/matchmakingbase_ds.lib
lib/public/materialobjects.lib
lib/public/mathlib.lib
lib/public/mathlib_extended.lib
lib/public/matsys_controls.lib
lib/public/mdlobjects.lib
lib/public/meshutils.lib
lib/public/movieobjects.lib
lib/public/particles.lib
lib/public/panorama_client.lib
lib/public/panorama_s1wrapper.lib
lib/public/quickhull.lib
lib/public/raytrace.lib
lib/public/resourcefile.lib
lib/public/responserules_runtime.lib
lib/public/shaderlib.lib
lib/public/soundsystem_lowlevel.lib
lib/public/tier0.lib
lib/public/tier1.lib
lib/public/tier2.lib
lib/public/tier3.lib
lib/public/toolutils.lib
lib/public/unitlib.lib
lib/public/vgui_controls.lib
lib/public/vgui_surfacelib.lib
lib/public/videocfg.lib
lib/public/vpklib.lib
lib/public/vstdlib.lib
lib/public/vtf.lib

lib/common/bzip2.lib
lib/common/mxtoolkitwin32.lib
lib/public/x64/appframework.lib
lib/public/x64/bitmap.lib
lib/public/x64/bitmap_byteswap.lib
lib/public/x64/bonesetup.lib
lib/public/x64/choreoobjects.lib
lib/public/x64/datamodel.lib
lib/public/x64/dme_controls.lib
lib/public/x64/dmserializers.lib
lib/public/x64/dmxloader.lib
lib/public/x64/fgdlib.lib
lib/public/x64/fow.lib
lib/public/x64/game_controls.lib
lib/public/x64/interfaces.lib
lib/public/x64/matchmakingbase.lib
lib/public/x64/matchmakingbase_ds.lib
lib/public/x64/materialobjects.lib
lib/public/x64/mathlib.lib
lib/public/x64/mathlib_extended.lib
lib/public/x64/matsys_controls.lib
lib/public/x64/mdlobjects.lib
lib/public/x64/meshutils.lib
lib/public/x64/movieobjects.lib
lib/public/x64/particles.lib
lib/public/x64/quickhull.lib
lib/public/x64/raytrace.lib
lib/public/x64/resourcefile.lib
lib/public/x64/responserules_runtime.lib
lib/public/x64/shaderlib.lib
lib/public/x64/soundsystem_lowlevel.lib
lib/public/x64/tier0.lib
lib/public/x64/tier1.lib
lib/public/x64/tier2.lib
lib/public/x64/tier3.lib
lib/public/x64/toolutils.lib
lib/public/x64/unitlib.lib
lib/public/x64/vgui_controls.lib
lib/public/x64/vgui_surfacelib.lib
lib/public/x64/videocfg.lib
lib/public/x64/vpklib.lib
lib/public/x64/vstdlib.lib
lib/public/x64/vtf.lib

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Linux libs
lib/public/linux32/appframework.a
lib/public/linux32/bitmap.a
lib/public/linux32/bitmap_byteswap.a
lib/public/linux32/bonesetup.a
lib/public/linux32/choreoobjects.a
lib/public/linux32/datamodel.a
lib/public/linux32/dme_controls.a
lib/public/linux32/dmserializers.a
lib/public/linux32/dmxloader.a
lib/public/linux32/fgdlib.a
lib/public/linux32/fow.a
lib/public/linux32/game_controls.a
lib/public/linux32/interfaces.a
lib/public/linux32/matchmakingbase.a
lib/public/linux32/matchmakingbase_ds.a
lib/public/linux32/materialobjects.a
lib/public/linux32/mathlib.a
lib/public/linux32/mathlib_extended.a
lib/public/linux32/matsys_controls.a
lib/public/linux32/mdlobjects.a
lib/public/linux32/meshutils.a
lib/public/linux32/movieobjects.a
lib/public/linux32/particles.a
lib/public/linux32/quickhull.a
lib/public/linux32/raytrace.a
lib/public/linux32/resourcefile.a
lib/public/linux32/responserules_runtime.a
lib/public/linux32/shaderlib.a
lib/public/linux32/soundsystem_lowlevel.a
lib/public/linux32/tier0.a
lib/public/linux32/tier1.a
lib/public/linux32/tier2.a
lib/public/linux32/tier3.a
lib/public/linux32/toolutils.a
lib/public/linux32/unitlib.a
lib/public/linux32/vgui_controls.a
lib/public/linux32/vgui_surfacelib.a
lib/public/linux32/videocfg.a
lib/public/linux32/vpklib.a
lib/public/linux32/vstdlib.a
lib/public/linux32/vtf.a

lib/public/linux64/appframework.a
lib/public/linux64/bitmap.a
lib/public/linux64/bitmap_byteswap.a
lib/public/linux64/bonesetup.a
lib/public/linux64/choreoobjects.a
lib/public/linux64/datamodel.a
lib/public/linux64/dme_controls.a
lib/public/linux64/dmserializers.a
lib/public/linux64/dmxloader.a
lib/public/linux64/fgdlib.a
lib/public/linux64/fow.a
lib/public/linux64/game_controls.a
lib/public/linux64/interfaces.a
lib/public/linux64/matchmakingbase.a
lib/public/linux64/matchmakingbase_ds.a
lib/public/linux64/materialobjects.a
lib/public/linux64/mathlib.a
lib/public/linux64/mathlib_extended.a
lib/public/linux64/matsys_controls.a
lib/public/linux64/mdlobjects.a
lib/public/linux64/meshutils.a
lib/public/linux64/movieobjects.a
lib/public/linux64/particles.a
lib/public/linux64/quickhull.a
lib/public/linux64/raytrace.a
lib/public/linux64/resourcefile.a
lib/public/linux64/responserules_runtime.a
lib/public/linux64/shaderlib.a
lib/public/linux64/soundsystem_lowlevel.a
lib/public/linux64/tier0.a
lib/public/linux64/tier1.a
lib/public/linux64/tier2.a
lib/public/linux64/tier3.a
lib/public/linux64/toolutils.a
lib/public/linux64/unitlib.a
lib/public/linux64/vgui_controls.a
lib/public/linux64/vgui_surfacelib.a
lib/public/linux64/videocfg.a
lib/public/linux64/vpklib.a
lib/public/linux64/vstdlib.a
lib/public/linux64/vtf.a

# Specific Source build products
vscript/languages/squirrel/vsquirrel/init_nut.h
*.vpc_crc
*.vpc.sentinel
*.vpc_cache
**/_vpc_/
*_nut.h

client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# files generated by running a mod
config.cfg

# shader files
*.tmp
materialsystem/stdshaders/filelist.txt
materialsystem/stdshaders/filelistgen.txt
materialsystem/stdshaders/filestocopy.txt
materialsystem/stdshaders/inclist.txt
materialsystem/stdshaders/makefile.stdshader_dx9*
materialsystem/stdshaders/uniquefilestocopy.txt
materialsystem/stdshaders/vcslist.txt
materialsystem/stdshaders/shaders/
materialsystem/stdshaders/fxctmp9_360_tmp/
materialsystem/stdshaders/fxctmp9_tmp/
materialsystem/stdshaders/vshtmp9_tmp/
materialsystem/stdshaders/buildshaders_dmitrex.bat
materialsystem/stdshaders/NIL
